@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  /* overscroll-behavior-y: none;
  overscroll-behavior: none; */
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.home-nigeria {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(/assets/webp/home-nigeria.webp);
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.home-germany {
  background-image: url(/assets/webp/home-germany.webp);
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.home-sarl {
  background-image: url(/assets/svg/home/home-sarl.svg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.map-nigeria {
  background-image: url(/assets/svg/home/fragginvest-nigeria-map.svg);
  background-size: cover;
  background-position: top;
  height: 600px;
  margin-top: 80px;
}

.map-germany {
  background-image: url(/assets/svg/home/fragginvest-germany-map.svg.svg);
  background-size: cover;
  background-position: top;
  height: 600px;
  margin-top: 80px;
}

.map-sarl {
  background-image: url(/assets/svg/home/fragginvest-sarl-map.svg);
  background-size: cover;
  background-position: top;
  height: 600px;
  margin-top: 80px;
}

.priorityOne {
  background-image: url(/assets/svg/home/priorityOne.svg);
  background-size: cover;
}

.priorityTwo {
  background-image: url(/assets/svg/home/priorityTwo.svg);
  background-size: cover;
}

.priorityThree {
  background-image: url(/assets/svg/home/priorityThree.svg);
  background-size: cover;
}

.priorityFour {
  background-image: url(/assets/svg/home/priorityFour.svg);
  background-size: cover;
}

.investAboutOne {
  background-image: url(/assets/svg/home/investAboutOne.svg);
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.investAboutTwo {
  background-image: url(/assets/svg/home/investAboutTwo.svg);
  background-size: cover;
}

.investAboutThree {
  background-image: url(/assets/svg/home/investAboutThree.svg);
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 768px) {
  .investAboutOne {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  .investAboutThree {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.aboutInvestments {
  background-image: url(/assets/svg/about/aboutInvestments.svg);
  background-size: cover;
  height: 640px;
  background-position: right;
}

.courtGmbh {
  background-image: url(/assets/webp/court-gmbh.webp);
  background-size: cover;
  height: 640px;
  background-position: right;
}

.approachOne {
  background-image: url(/assets/webp/approachOne.webp);
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.approachTwo {
  background-image: url(/assets/webp/approachTwo.webp);
  background-size: cover;
}

.approachThree {
  background-image: url(/assets/webp/approachThree.webp);
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 768px) {
  .approachOne {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  .approachThree {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.homesarlOne {
  background-image: url(/assets/webp/homesarlOne.webp);
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.homesarlTwo {
  background-image: url(/assets/webp/homesarlTwo.webp);
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 768px) {
  .homesarlOne {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  .homesarlTwo {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.sustainable-goals {
  background-image: url(/assets/webp/sustainable-goals.webp);
  background-size: cover;
  height: 640px;
  background-position: right; 
}
